Flask==0.12.2
gunicorn==19.8.1
nltk==3.2.5
numpy==1.15.0
pandas==0.22.0
pathlib==1.0.1
python-dateutil==2.7.2
pytz==2018.4
regex==2017.4.5
requests==2.18.4
scikit-learn==0.19.1
scipy==1.0.0
spacy==2.1.6
ujson==5.4.0
Unidecode==1.0.22
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.14.1
jupyter==1.0.0
jupyterlab==0.32.1
ipdb
https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-2.1.0/pt_core_news_sm-2.1.0.tar.gz
